@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0px;
  font-size: 13px;
  line-height: 20px;
  background-color: #EEEEEE;
  -webkit-text-size-adjust: 100%;
}

.auth0-lock-header-bg {
  background-color: white !important;
}

.auth0-lock-header-bg-solid {
  background-color: white !important;
}

.auth0-lock-header-bg-blur {
  opacity: 0 !important;
}
