@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0px;
  font-size: 13px;
  line-height: 20px;
  background-color: #EEEEEE;
}

.auth0-lock-header-bg  {
    background-color: #EEEEEE !important;
}

.auth0-lock-header-bg-blur {
  opacity: 0 !important;
}
